@model App.ApplicationCore.Domain.Contrat

@{
    //ViewData["Title"] = "Details";
    ViewData["Title"] = "Contrat";
}

<h1>Details</h1>

<div>
    <h4>Contrat</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroContrat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroContrat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebutContrat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebutContrat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFinContrat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFinContrat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreJoursLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreJoursLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.IdReservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voiture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Voiture.Matricule)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chauffeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chauffeur.CIN)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumeroContrat" class="btn btn-success">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
