@model App.ApplicationCore.Domain.Voiture

@{
    //ViewData["Title"] = "Delete";
    ViewData["Title"] = "Voiture";

}

<h1>Supprimer</h1>

@*<h3>Are you sure you want to delete this?</h3>*@
<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Matricule)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Matricule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Couleur)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Matricule" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
