@model App.ApplicationCore.Domain.Voiture

@{
    //ViewData["Title"] = "Details";
    ViewData["Title"] = "Voiture";

}

<h1>Details</h1>

<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricule)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Matricule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Couleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Couleur)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Matricule" class="btn btn-success">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
