@model App.ApplicationCore.Domain.Reservation

@{
    //ViewData["Title"] = "Details";
    ViewData["Title"] = "Reservation";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdReservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdReservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebutLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebutLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFinLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFinLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixLocationParJour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixLocationParJour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MarqueVoiture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MarqueVoiture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtatReservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtatReservation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.IdClient)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdReservation" class="btn btn-success">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
